$principalColor:  #b2ddd898;
$thirdColor:#FCF6BD;
$secondColor:#FF99C8;

/* css general */
*{
    margin: 0;
    padding: 0; 
    list-style: none; 
    text-decoration: none;
   
    
}

html { overflow-x:  hidden;}
body {  box-sizing: border-box;

    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight:bolder;


}

h2 { font-size: 30px; text-align: center;}
h3 { font-size: 20px;}
p,li { font-size: 16px; text-align: center; }
a:link {

    color: rgb(15, 15, 15);
   font-size: 16px;
    
    }

a:visited{

    color: rgb(28, 98, 27);
  
}

a:hover{
    background-color: rgb(86, 207, 140);
    padding: 20px;
    border-radius: 10px;
    width:min-content;
    transition: 5s;
}

.planes-mobile { display: none;}

.gridContainer { 

display: grid;
grid-template-columns: auto;
grid-template-rows: repeat(9,auto);
grid-template-areas: ' header'
                        'portada'
                        'planes1'
                        'planes'
                     'sectionHorarios'
                     'sectionInstructores'
                     'institucional'
                     'contacto'
                     'footer'   ;


gap: 100px;

}


.header { grid-area: header;}
.portada { grid-area: portada; margin-top: -100px;}
.planes1 { grid-area: planes1;}
.planes { grid-area: planes;}
.sectionHorarios { grid-area: sectionHorarios;}
.sectionInstructores { grid-area: sectionInstructores;}
.institucional { grid-area: institucional;}
.contacto { grid-area: contacto;}
.footer { grid-area: footer;}


 .sectionHorarios {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color:$principalColor;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    }