 /* vista mobile  */
 
 .grid { 


    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 'header' 
    'sectionInstalaciones'
    'contacto'
    'footer';
}
 
.header { grid-area: header;}

.sectionInstalaciones{ grid-area: sectionInstalaciones; }
.contacto {grid-area: contacto;}
.footer {grid-area: footer;}



 @media  (max-width: 767px){


 .articleInstalaciones__img--disable { 
    display: none;

} 

.articleInstalaciones__div--disable, .sectionInstalaciones__h2   {
     display: none;}

.articleInstalaciones__div--flex { 
    text-align: center; }




}

  /* vista desktop */
  @media (min-width: 768px){


.sectionInstalaciones{ 
    text-align: center; padding-bottom: 50px;
    padding-top: 200px;     
}
    
        
.articleInstalaciones  {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    background-color:$principalColor;
    padding: 30px;
}

.articleInsatalaciones__div--flex{ 
    display: flex; 
    justify-content: center; 
    align-items: center; gap: 80px;}


    .articleInstalaciones__img , .articleInstalaciones__img--disable  {  
        border-radius: 20%; 
        padding-top: 20px;
} 
}
