
  /* vista desktop */
  @media (min-width: 768px){


.instructores-flex { 

display: flex; flex-wrap: wrap;

  .card {  width: 500px; height: 200px; margin: 30px;}

}

    
.sectionInstructores { 
        text-align: center; 
        padding-bottom: 50px;
        padding-top: 200px;
 }
        
            
.articleInstructores__a  {
            
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: space-around;
            background-color:$principalColor;
            padding: 30px;
            

            li,h3{ 
                text-align: center; padding: 30px; font-size: 1.5rem;
              } 
            
}   
        
}
        
        