.grid { 


  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 'header' 
  'sectionInstructores'
  'contacto'
  'footer';
}

.header { grid-area: header;}

.sectionInstalaciones{ grid-area: sectionInstalaciones; }
.contacto {grid-area: contacto;}
.footer {grid-area: footer;}

  /* vista desktop */
  @media (min-width: 768px){



.card-body { height: auto;}
    
.sectionInstructores { 
        text-align: center; 
        padding-bottom: 50px;
        grid-area: sectionInstructores;
        padding-top: 200px;
 }
        
            
.articleInstructores__a  {
            
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: space-around;
            background-color:$principalColor;
            padding: 30px;
            

            li,h3{ 
                text-align: center; padding: 30px; font-size: 1.5rem;
              } 
            
}   
        
}
        
        