
.sectionInstructores{ grid-area: planes; }


.sectionInstalaciones{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 200px; 

      
}

    
        
.articleInstalaciones  {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color:$principalColor;
    padding: 30px;
    margin: 130px;
 
}

.articleInsatalaciones__div--flex{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 80px;
    padding: 40px;
}


    .articleInstalaciones__img , .articleInstalaciones__img--disable  {  
        border-radius: 20%; 
      
} 
 /* vista mobile  */
@media  (max-width: 767px){


    .articleInsatalaciones__div--flex{

flex-direction: column;


    }






}

  /* vista desktop */
  @media (min-width: 768px){



}
