//**********************************LAYOUT MOBILE**********************************/


.grid { 


    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,auto);
    grid-template-areas:'header' 
                        'planes'
                        'institucional'
                        'contacto'
                        'footer';
}

.header { grid-area: header;}
.planes-mobile { grid-area: planes;}
.institucional { grid-area: institucional;}
.contacto {grid-area: contacto;}
.footer {grid-area: footer;}


 /* vista mobile  */

  @media  (max-width: 760px){

/**********************************MENU HAMBURGUESA**********************************/

html { 

    overflow-x: hidden;
    
    }
.btncontainer button {

    --color: #FCF6BD;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;

}

button:before {
    content: "";
    position: absolute;
    z-index: -1;

    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: $thirdColor;
    transition: background 0s;
}




/**********************************SECCION PORTADA**********************************/


.portada { 
    margin-top: 60px;
}




/**********************************SECCION PLANES**********************************/

.planes1 { display: none;}  
.planes-mobile {
    grid-area: planes1; 
    display: flex; gap: 10px;
    text-align: center;
    justify-content: center;

    .plan {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 150px;
        background: $principalColor; 
        padding: 20px;

        h3{ background: $thirdColor; 
            padding: 10px;
            border-radius: 10px;}
    
}

.btncontainer { 
    text-align: center;
}

}
    
ol,ul {

    padding: 2rem;
    }






//**********************************SECCION HORARIOS**********************************/




/**********************************SECCION INSTRUCTORES**********************************/

        
.instructores-flex{ 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
         
        .col { min-width: 150px;}
                    
.card {  padding: 30px; 
          height: auto;
            text-align: center; 

            
            .card-text{ 
                display: none;
            }

         
}


//**********************************SECCION CONTACTO**********************************/

//**********************************SECCION INSTITUCIONAL**********************************/
.institucional { 

    grid-area: institucional;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
    width: auto;
    }
    
    .institucional__mision, .institucional__vision {
    

 

    box-shadow:  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    div {               
        display: flex; 
        flex-direction: column;
        gap: 50px;
       
        img { max-width: 400px;
             max-height: 400px;}}
    
    p {   align-self: center;}
    
    }



.sectionContacto--desktop { 
    width:90%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;


iframe { display: none;}

 
}


//**********************************SECCION FOOTER**********************************/


.footer { 
  
      padding: 20px;
      text-align: center;
    }





    

}
        