 /* vista mobile  */
 @media  (max-width: 767px){


    .sectionHorarios {
    grid-area: sectionHorarios;

        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color:$principalColor;
        padding: 10px;
        padding-top: 100px;
        padding-bottom: 100px;
    
    }
    
    
    
    /*   .articleInstalaciones__img--disable{
        display: none;
    
    } */
    
    p{ text-align: center;}
    .planes__mobile { padding-top: 200px;}
    

    .planes-container { display: flex; 
        flex-direction: row;
         flex-wrap: wrap; 
         justify-content: center; 
         align-items: center;

       
       }
       .inscripcion{ display: flex; align-items: center; justify-content: center;}
    .plan {
    
     min-width: 100px;
     max-width: 200px;
     height: 400px;
      text-align: center;
      background: $principalColor;
      box-shadow: 0px 0px 20px $thirdColor;
      transition-duration: 0.5s;
      margin: 10px;
      padding-bottom: 20px; 
    }
      
      .title {
      text-align: center;
      margin-top: 0.5em;
      font-weight: bold;
      font-size: x-large;
    
      }
      
      .pricecontainer {
      width: 100%;
      margin-top: 0.7em;
      background-color: $thirdColor;
      box-shadow: inset 0px 0px 2em $thirdColor;
      div { margin: 10px;}
      }
      
      .price {
      text-align: center;
      font-size: x-large;
      font-weight: bold;
      padding: 0.75em 0 0 0;
      }
      
      .pricedescriptor {
      text-align: center;
      color: rgb(118, 118, 118);
      font-size: medium;
      padding: 0 0 1em 0;
      }
      
      .includes {
      text-align: center;
      height: auto;
      color: rgb(110, 110, 110);
      margin-top: 0.6em;
      font-size: small;
      font-weight: bold;
      }
      
      .benefitlist
      li {
      font-size: large;
      text-align: center;
      
      }
      
    
      
    ol,
    ul {
      padding: 2rem;
    }
      .btncontainer {
       text-align: center;
      }
      
    
      
    
    
    .btncontainer button {
     --color: #FCF6BD;
    
     display: inline-block;
     width: 8em;
     height: 2.6em;
     line-height: 2.5em;
     margin: 20px;
     position: relative;
     overflow: hidden;
     border: 2px solid var(--color);
     transition: color .5s;
     z-index: 1;
     font-size: 17px;
     border-radius: 6px;
     font-weight: 500;
    
    }
    
    button:before {
     content: "";
     position: absolute;
     z-index: -1;
     background: var(--color);
     height: 150px;
     width: 200px;
     border-radius: 50%;
    }
    
    button:before {
     top: 100%;
     left: 100%;
     transition: all .7s;
    }
    
    button:hover:before {
     top: -30px;
     left: -30px;
    }
    
    button:active:before {
     background: $thirdColor;
     transition: background 0s;
    }
    
    .footer { 
    grid-area: footer;
      padding: 20px;
    }
    
    
    /* .sectionHorarios__table { 
    
      display: flex;
      justify-content: center;
      padding: 15px;
    }
    
    table.GeneratedTable {
      width: auto;
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #354638;
      border-style: solid;
      color: #000000;
      text-align: center;
    
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2px;
      border-color: #354638;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: $principalColor;
    } */
    
    


     
 /* vista mobile  */


    .sectionContacto__iframe--disable, .sectionContacto__form--disable{ 
       display: none;
   }
   
   .sectionContacto__h2{ display: none;}
   
   .sectionHorarios { grid-area: sectionHorarios;}
   
   
    .sectionContacto, .footer  {
   
       display: flex;
       flex-direction: column;
       align-items: center; 
       
   }
   
 
   
   
   
   .sectionContacto__form , .sectionContacto__container1 { 
   
       display: flex;
       flex-direction: column;
       padding: 10px;
       align-items: center;
   }
   .sectionContacto__container3  { 
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       padding: 10px;
       font-size: 50px;
       background-color: #cadcda81;
   }
   .sectionContacto { background-color: $principalColor; grid-area: sectionContacto;}
   
   
    .sectionContacto{ padding-top: 300px; }
   }
   

    /* vista mobile  */


    
    .articleInstructores__img { width: 80%;}
        
    .sectionInstructores, .articleInstructores__a {
        
            display: flex;
            width: auto;
            flex-direction: column;
            align-items: center; 
            .row { padding-top: 50px;}
        }
 

            
  .card {  padding-top: 30px; max-width: 150px; text-align: center; .card-text { display: none;}}
        