@media (max-width: 768px){



.planes-page{  
  grid-area: planes; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
    .planes-container { 
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;}
    
      .plan {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: auto;
        background: $principalColor; 
        padding: 20px;
        margin: 30px;

        .title{ 
            width: 100%;
            background: $thirdColor; 
            padding: 10px;
            border-radius: 10px;
            font-size: 2rem;}
        .price{ font-size: 2rem;}
        .benefitlist { width: 90%; background: $thirdColor; height: auto; border-radius: 20%;}

        li{ list-style:circle ;
           text-transform: lowercase; 
          }

          }
}

}

 /* vista desktop */
@media (min-width: 768px){

.planes1 , .planes { 
 
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;


    .planes-container{ 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    
  
    div {
      max-width: 200px;
    }
  }
  
}

.plan {
  width: 250px;
  height: 400px;
  text-align: center;
  background: $principalColor;
  box-shadow: 0px 0px 20px $thirdColor;
  transition-duration: 0.5s;
  margin: 20px;
 
}



.inscripcion{  
  display: flex; 
  align-items: center; 
  justify-content: center;

  .plan { height: 250px;}

}

.title {
  text-align: center;
  padding: 23px;
  font-weight: bold;
  height: auto; 

  }
  
  .pricecontainer {
  width: 100%;
  margin-top: 0.7em;
  background-color: $thirdColor;
  box-shadow: inset 0px 0px 2em $thirdColor;
}
  
  .price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75em 0 0 0;
}
  
  .pricedescriptor {
  text-align: center;
  color: rgb(118, 118, 118);
  font-size: 1rem;
  padding: 0 0 1em 0;
}
  
  .includes {
  text-align: center;
  height: auto;
  color: rgb(110, 110, 110);
  margin-top: 0.6em;
  font-size: 1rem;
  font-weight: bold;
}
  
.benefitlist
  li {
  font-size: 1rem;
  text-align: center;
  
}
  
.benefitlist li:nth-child(1) {
  margin-top: 0.4em;
  }
  

ul {
  padding: 2rem;
} 



}